/* Webfont: Mart-Book-Devanagari */@font-face {
    font-family: 'MartBookDevanagari';
    src: url('Mart-DevanagariBook.woff2') format('woff2'), /* Modern Browsers */
         url('Mart-DevanagariBook.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

