/* Webfont: Cambon-Devanagari-SemiBold */@font-face {
    font-family: 'CambonDevanagariSemiBold';
    src: url('Cambon-Devanagari-SemiBold.woff2') format('woff2'), /* Modern Browsers */
         url('Cambon-Devanagari-SemiBold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

