/* Webfont: BerlingskeSerif-Devanagari-SemiBold */@font-face {
    font-family: 'BerlingskeSerifDevanagariSemBd';
    src: url('BerlingskeSerif-DevanagariSemiBold.woff2') format('woff2'), /* Modern Browsers */
         url('BerlingskeSerif-DevanagariSemiBold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

