/* Webfont: SourceSansPro-Devanagari-Regular */@font-face {
    font-family: 'SourceSansProDevanagari';
    src: url('SourceSansPro-DevanagariRegular.woff2') format('woff2'), /* Modern Browsers */
         url('SourceSansPro-DevanagariRegular.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

