/* Webfont: Brother-1816-Book Devanagari */@font-face {
    font-family: 'Brother1816Devanagari';
    src: url('Brother-1816-Book.woff2') format('woff2'), /* Modern Browsers */
         url('Brother-1816-Book.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

