/* Webfont: TiemposHeadline-DevanagariBold */@font-face {
    font-family: 'Devanagari';
    src: url('TiemposHeadlineWeb-DevanagariBold.woff2') format('woff2'), /* Modern Browsers */
         url('TiemposHeadlineWeb-DevanagariBold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

