/* Webfont: NotoSans */@font-face {
    font-family: 'NotoSans';
    src: url('NotoSans-RegularDevanagari.woff2') format('woff2'), /* Modern Browsers */
         url('NotoSans-RegularDevanagari.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

