/* Webfont: RecoletaAlt-Devanagari-Medium */@font-face {
    font-family: 'RecoletaAltDevanagariMedium';
    src: url('RecoletaAlt-DevanagariMedium.woff2') format('woff2'), /* Modern Browsers */
         url('RecoletaAlt-DevanagariMedium.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

